In [1]:

import pandas as pd
 
# Create a new DataFrame with a nominal variable
data = {
    'grade': ['A', 'B', 'C', 'D', 'A', 'C', 'B', 'D']
}
 
df = pd.DataFrame(data)


df['grade_numeric'] = df['grade'].replace({'A': 4, 'B': 3, 'C': 2, 'D': 1 })

C:\Users\Gennie\AppData\Local\Temp\ipykernel_36292\1143484740.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['grade_numeric'] = df['grade'].replace({'A': 4, 'B': 3, 'C': 2, 'D': 1 })

In [2]:
df.head()

  grade  grade_numeric
0     A              4
1     B              3
2     C              2
3     D              1
4     A              4