In [13]:
import pandas as pd

# Specify the file path
excel_file = 'sales data.xlsx'

# Load data from Excel file
df = pd.read_excel(excel_file)

# Display the DataFrame
# print(df)
# df.head()

          country  order_value_EUR       cost                 date  \
0          Sweden         98320.37   77722.25            8/23/2020
1          France         46296.26   40319.41            5/15/2020
2        Portugal        140337.34  115708.14  2020-04-09 00:00:00
3          France        203604.46  175344.16            6/26/2019
4              UK         63979.04   56032.84           10/22/2019
...           ...              ...        ...                  ...
996        France         69126.50    55902.6  2019-08-12 00:00:00
997        France        140943.88  120633.87            5/28/2020
998        France        124784.67  106853.11            5/22/2020
999       Germany         61968.26   50690.04           12/27/2020
1000  Netherlands        172453.10  145688.38            6/24/2020

         category                     customer_name    sales_manager  \
0           Games                    Konopelski LLC     Maxie Marrow
1           Games                        Wisoky Inc    Othello Bowes
2      Appliances                     Hegmann Group  Celine Tumasian
3     Electronics                   Kirlin and Sons    Othello Bowes
4           Games                    Schoen-Keeling  Jessamine Apark
...           ...                               ...              ...
996   Electronics     Farrell, Swaniawski and Crist    Othello Bowes
997    Appliances                  Armstrong-Little    Othello Bowes
998   Electronics  Swaniawski, Runolfsson and Green    Othello Bowes
999   Electronics                Romaguera-Dietrich  Rickard Doogood
1000     Outdoors                   Kirlin and Sons    Denice Amberg

                sales_rep device_type    order_id
0      Tarrah Castelletti      Tablet  70-0511466
1     Amelina Piscopiello      Tablet  77-3489084
2           Corene Shirer          PC  65-8218141
3            Crysta Halls      Mobile  29-5478106
4      Genevra Charrisson          PC  27-3437546
...                   ...         ...         ...
996        Avrit Chanders          PC  07-3201531
997        Avrit Chanders      Tablet  77-0650807
998           Ora Grennan      Tablet  44-2757396
999         Casie MacBain          PC  22-7259031
1000       Nero Harbisher          PC  60-6986682

[1001 rows x 10 columns]

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

In [11]:
# Sample variable containing mixed data
mixed_data = df['cost']

# create an empty list to store non-numeric values
non_numeric_values = []

# Interate through the elements in the variable
for value in mixed_data:
    if isinstance(value, str) and not value.isnumeric():
        non_numeric_values.append(value)

In [12]:
# Display the DataFrame
print(df)

# Print the non-numeric values
print("Non Numeric values:")
print(non_numeric_values)

          country  order_value_EUR       cost                 date  \
0          Sweden         98320.37   77722.25            8/23/2020
1          France         46296.26   40319.41            5/15/2020
2        Portugal        140337.34  115708.14  2020-04-09 00:00:00
3          France        203604.46  175344.16            6/26/2019
4              UK         63979.04   56032.84           10/22/2019
...           ...              ...        ...                  ...
996        France         69126.50    55902.6  2019-08-12 00:00:00
997        France        140943.88  120633.87            5/28/2020
998        France        124784.67  106853.11            5/22/2020
999       Germany         61968.26   50690.04           12/27/2020
1000  Netherlands        172453.10  145688.38            6/24/2020

         category                     customer_name    sales_manager  \
0           Games                    Konopelski LLC     Maxie Marrow
1           Games                        Wisoky Inc    Othello Bowes
2      Appliances                     Hegmann Group  Celine Tumasian
3     Electronics                   Kirlin and Sons    Othello Bowes
4           Games                    Schoen-Keeling  Jessamine Apark
...           ...                               ...              ...
996   Electronics     Farrell, Swaniawski and Crist    Othello Bowes
997    Appliances                  Armstrong-Little    Othello Bowes
998   Electronics  Swaniawski, Runolfsson and Green    Othello Bowes
999   Electronics                Romaguera-Dietrich  Rickard Doogood
1000     Outdoors                   Kirlin and Sons    Denice Amberg

                sales_rep device_type    order_id
0      Tarrah Castelletti      Tablet  70-0511466
1     Amelina Piscopiello      Tablet  77-3489084
2           Corene Shirer          PC  65-8218141
3            Crysta Halls      Mobile  29-5478106
4      Genevra Charrisson          PC  27-3437546
...                   ...         ...         ...
996        Avrit Chanders          PC  07-3201531
997        Avrit Chanders      Tablet  77-0650807
998           Ora Grennan      Tablet  44-2757396
999         Casie MacBain          PC  22-7259031
1000       Nero Harbisher          PC  60-6986682

[1001 rows x 10 columns]
Non Numeric values:
['XXX']