In [2]:
'''

Tasks: 
    Add a duplicate row
    Then Remove the duplicated rows
    Then display the output


import pandas as pd
 
# Create DataFrame
data = {
    'age': [25, 30, None, 40, 35],  # Three missing values
    'income': [50000, 60000, 'XXX', 80000, 70000],  # Inconsistent value 'XXX'
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'New York']
}
 
df = pd.DataFrame(data)
 
# Add duplicated row
duplicate_row = pd.DataFrame({'age': [30, None], 'income': [60000, 'YYY'], 'city': ['Los Angeles', 'Los Angeles']})
df = pd.concat([df, duplicate_row], ignore_index=True)

'''

In [5]:
import pandas as pd

# Create DataFrame
data = {
    'age': [25, 30, None, 40, 35],  # Three missing values
    'income': [50000, 60000, 'XXX', 80000, 70000],  # Inconsistent value 'XXX'
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'New York']
}

df = pd.DataFrame(data)
print(df)

    age income         city
0  25.0  50000     New York
1  30.0  60000  Los Angeles
2   NaN    XXX      Chicago
3  40.0  80000      Houston
4  35.0  70000     New York

In [10]:
# Add duplicated row
duplicate_row = pd.DataFrame({
    'age': [30, None], 
    'income': [60000, 'YYY'], 
    'city': ['Los Angeles', 'Los Angeles']
})
df = pd.concat([df, duplicate_row], ignore_index=True)

print(df)

    age income         city
0  25.0  50000     New York
1  30.0  60000  Los Angeles
2   NaN    XXX      Chicago
3  40.0  80000      Houston
4  35.0  70000     New York
5   NaN    YYY  Los Angeles
6  30.0  60000  Los Angeles
7   NaN    YYY  Los Angeles

In [9]:
# Remove duplicated rows
df = df.drop_duplicates()

print(df)

    age income         city
0  25.0  50000     New York
1  30.0  60000  Los Angeles
2   NaN    XXX      Chicago
3  40.0  80000      Houston
4  35.0  70000     New York
5   NaN    YYY  Los Angeles