In [3]:
import pandas as pd

# Specify the file path
excel_file = 'sales data.xlsx'

# Load the Excel file into a DataFrame
df = pd.read_excel(excel_file)

# Display the DataFrame
print(df)

    country  order_value_EUR       cost                 date     category  \
0    Sweden         98320.37   77722.25            8/23/2020        Games
1    France         46296.26   40319.41            5/15/2020        Games
2  Portugal        140337.34  115708.14  2020-04-09 00:00:00   Appliances
3    France        203604.46  175344.16            6/26/2019  Electronics
4        UK         63979.04   56032.84           10/22/2019        Games
5     Italy        127075.41  110924.13            9/24/2019     Clothing
6    Sweden         69681.43   55529.13            1/25/2020     Clothing
7    Sweden         69681.43   55529.13            1/25/2020     Clothing
8    Sweden         69681.43   55529.13            1/25/2020     Clothing
9     Korea      99994324.23  324232.32  2035-07-10 00:00:00        Games

        customer_name    sales_manager            sales_rep device_type  \
0      Konopelski LLC     Maxie Marrow   Tarrah Castelletti      Tablet
1          Wisoky Inc    Othello Bowes  Amelina Piscopiello      Tablet
2       Hegmann Group  Celine Tumasian        Corene Shirer          PC
3     Kirlin and Sons    Othello Bowes         Crysta Halls      Mobile
4      Schoen-Keeling  Jessamine Apark   Genevra Charrisson          PC
5    Labadie and Sons   Piggy Roscrigg       Joshua Prevost          PC
6  Romaguera-Dietrich     Maxie Marrow         Alyosha Meah          PC
7  Romaguera-Dietrich     Maxie Marrow         Alyosha Meah          PC
8  Romaguera-Dietrich     Maxie Marrow         Alyosha Meah          PC
9     Kirlin and Sons  Celine Tumasian      Ayulisha Hughes         MAC

       order_id
0    70-0511466
1    77-3489084
2    65-8218141
3    29-5478106
4    27-3437546
5    57-6602854
6    78-3301264
7    78-3301264
8    78-3301264
9  323-32432342

In [5]:
# Display a number of rows you want to show 
df.head(20)

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
5,Italy,127075.41,110924.13,9/24/2019,Clothing,Labadie and Sons,Piggy Roscrigg,Joshua Prevost,PC,57-6602854
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
7,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
8,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
9,Korea,99994324.23,324232.32,2035-07-10 00:00:00,Games,Kirlin and Sons,Celine Tumasian,Ayulisha Hughes,MAC,323-32432342

In [4]:
# Identify duplicate rows based on all columns
duplicated_rows = df[df.duplicated()]

# Display duplicated rows
print ("Duplicated Rows: ")
print (duplicated_rows)

Duplicated Rows:
  country  order_value_EUR      cost       date  category       customer_name  \
7  Sweden         69681.43  55529.13  1/25/2020  Clothing  Romaguera-Dietrich
8  Sweden         69681.43  55529.13  1/25/2020  Clothing  Romaguera-Dietrich

  sales_manager     sales_rep device_type    order_id
7  Maxie Marrow  Alyosha Meah          PC  78-3301264
8  Maxie Marrow  Alyosha Meah          PC  78-3301264

In [8]:
# Remove duplicated Rows keeping the first accurence 
df_no_duplicates = df.drop_duplicates()

# Print the DataFrame without duplicates 
print ("Dataframe without Duplicates: ")
df_no_duplicates

Dataframe without Duplicates:

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
5,Italy,127075.41,110924.13,9/24/2019,Clothing,Labadie and Sons,Piggy Roscrigg,Joshua Prevost,PC,57-6602854
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
9,Korea,99994324.23,324232.32,2035-07-10 00:00:00,Games,Kirlin and Sons,Celine Tumasian,Ayulisha Hughes,MAC,323-32432342

In [14]:
# Create a new variable to display a data without duplicates
clean_data = df_no_duplicates

# Print clean data
clean_data.head(20)

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
5,Italy,127075.41,110924.13,9/24/2019,Clothing,Labadie and Sons,Piggy Roscrigg,Joshua Prevost,PC,57-6602854
6,Sweden,69681.43,55529.13,1/25/2020,Clothing,Romaguera-Dietrich,Maxie Marrow,Alyosha Meah,PC,78-3301264
9,Korea,99994324.23,324232.32,2035-07-10 00:00:00,Games,Kirlin and Sons,Celine Tumasian,Ayulisha Hughes,MAC,323-32432342