In [ ]:
'''
Write the following code first:

import pandas as pd
 
# Create DataFrame
data = {
    'age': [25, 30, 35, 40, 45],  
    'income': [50000, 60000, 55000, 80000, 70000],  
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami'],
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male']
}
 
df = pd.DataFrame(data)
Filter data for ages lower than or equal to 35
'''

In [ ]:
import pandas as pd
 
# Create DataFrame
data = {
    'age': [25, 30, 35, 40, 45],  
    'income': [50000, 60000, 55000, 80000, 70000],  
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami'],
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male']
}
 
df = pd.DataFrame(data)

df= df[df['age'] <= 35]
df